# Autodetect text files
* text=auto

# Definitively text files
*.txt text
*.md text
*.sh text
*.conf text
*.bash text
*.bats text

# Binary files
*.png binary

#Linguist
includes/smb.conf linguist-language=ini
*.service linguist-language=ini
